<div class="dropdown">
  <%= form_tag(products_path, :method => "get", id: "price") do %>
  <div class="row">
    <div class="col-md-10">
      <%= text_field_tag :from_price, params[:from_price], placeholder: "min_price", class:"form-control" %>
      <%= text_field_tag :to_price, params[:to_price], placeholder: "max_price", class:"form-control" %>
    </div>
    <div class="col-md-2">
      <%= submit_tag "Search", class:"btn btn-primary mb-2 form-control"%>
    </div>
  </div>
  <% end %>

</div>
<div class="first_child">
  <% @products.each do |product| %>
    <div class="container alert bg-light">
      <div class="list group-item">
        <div>
          <h3><strong><%= product.name %></strong></h3>
          <div><%= eval(sprintf("%8.2f",product.price)) %>₴</div>
          <div>
            <%= Category.find(product.category_id).name %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- -->
</div>
